{
    "product": "wukong",
    "enableWeightTpye": "SINGLE_WEIGHT",
    "ispTuningConfigInfo": [
    {
        "enable": 1,
        "phyId": 3,
        "sensorId": 4,

        "bayerPattern": {
            "sensorName": "ov64b40-tele",
            "ISPTuningInfoArrays": [
            {
                "isDeaultTuningInfo": 1,
                "sensorInWidth": 4624,
                "sensorInHeight": 2600,
                "explorerOutWidth": 4624,
                "explorerOutHeight": 2600,
                "ISPSceneTuningInfo":[
                {
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.ov64b40_tele_4624x2600_NM.bin",
                    "loadAddr": "2fd64000"
                },
                {
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.ov64b40_tele_4624x2600_SN.bin",
                    "loadAddr": "2fd4b000"
                },
                {
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.ov64b40_tele_4624x2600_SN.bin",
                    "loadAddr": "2fd57800"
                }]
            }],
            "NPUTuningInfoArraysSecurity": [
            {
                "weightType": "PACKED_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 608,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_sz_imx581-uw_imx888-main_0V64B-tele.lz4",
                    "loadAddr": "20e00000"
                }]
            },
            {
                "weightType": "SINGLE_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 576,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_size.lz4",
                    "loadAddr": "20d00000"
                },
                {
                    "index": 579,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_0V64B-tele.lz4",
                    "loadAddr": "21200000"
                }]
            }]
        }
    },
    {
        "enable": 1,
        "phyId": 2,
        "sensorId": 2,

        "bayerPattern": {
            "sensorName": "imx888-main",
            "ISPTuningInfoArrays":[
            {
                "isDeaultTuningInfo": 1,
                "sensorInWidth": 4000,
                "sensorInHeight": 2252,
                "explorerOutWidth": 4000,
                "explorerOutHeight": 2252,
                "ISPSceneTuningInfo":[
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_NM.bin",
                    "loadAddr": "2fd3e800"
                },
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_SN.bin",
                    "loadAddr": "2fd25800"
                },
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_SN.bin",
                    "loadAddr": "2fd32000"
                },
                {
                    "customizedIspTuningFeatureMode": 1,
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_wechat.bin",
                    "loadAddr": "2fd3e800"
                },
                {
                    "customizedIspTuningFeatureMode": 1,
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_wechat.bin",
                    "loadAddr": "2fd25800"
                },
                {
                    "customizedIspTuningFeatureMode": 1,
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_wechat.bin",
                    "loadAddr": "2fd32000"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_Dolby.bin",
                    "loadAddr": "2fd3e800"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_Dolby.bin",
                    "loadAddr": "2fd25800"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.imx888_main_4000x2252_Dolby.bin",
                    "loadAddr": "2fd32000"
                }]
            }],
            "NPUTuningInfoArraysSecurity": [
            {
                "weightType": "PACKED_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 608,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_sz_imx581-uw_imx888-main_0V64B-tele.lz4",
                    "loadAddr": "20e00000"
                }]
            },
            {
                "weightType": "SINGLE_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 576,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_size.lz4",
                    "loadAddr": "20d00000"
                },
                {
                    "index": 577,
                    "sceneMode": "superNight",
                    "binName": "explorer/npu_model/sec_imx888-main.lz4",
                    "loadAddr": "20e32000"
                },
                {
                    "index": 582,
                    "sceneMode": "ultraDark",
                    "binName": "explorer/npu_model/sec_imx888-main.lz4",
                    "loadAddr": "21400000"
                }],
                "NPUSceneTuningInfoPortraitVideoMode": [
                {
                    "comments": "if PORTRAIT binName changed ,must change explorer2BinName in SceneInstanceManager.h",
                    "index": 129,
                    "sceneMode": "PORTRAIT",
                    "binName": "explorer/npu_model/depth/depth_combine_up_left.lz4",
                    "loadAddr": "207a0000"
                },
                {
                    "comments": "if PORTRAIT binName changed ,must change explorer2BinName in SceneInstanceManager.h",
                    "index": 130,
                    "sceneMode": "PORTRAIT",
                    "binName": "explorer/npu_model/depth/depth_combine_down_right.lz4",
                    "loadAddr": "20f60000"
                }]
            }]
        }
    },
    {
        "enable": 1,
        "phyId": 1,
        "sensorId": 1,

        "bayerPattern": {
            "sensorName": "imx581-wide",
            "ISPTuningInfoArrays": [
            {
                "isDeaultTuningInfo": 1,
                "sensorInWidth": 4000,
                "sensorInHeight": 2252,
                "explorerOutWidth": 4000,
                "explorerOutHeight": 2252,
                "ISPSceneTuningInfo":[
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_NM.bin",
                    "loadAddr": "2fd19000"
                },
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_SN.bin",
                    "loadAddr": "2fd00000"
                },
                {
                    "customizedIspTuningFeatureMode": 0,
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_SN.bin",
                    "loadAddr": "2fd0c800"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode": "normalMidBv",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_Dolby.bin",
                    "loadAddr": "2fd19000"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode":"ultraDark",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_Dolby.bin",
                    "loadAddr": "2fd00000"
                },
                {
                    "customizedIspTuningFeatureMode": 2,
                    "sceneMode": "superNight",
                    "binName":"explorer/TunedParam/exp.imx581_wide_4000x2252_Dolby.bin",
                    "loadAddr": "2fd0c800"
                }]
            }],
            "NPUTuningInfoArraysSecurity": [
            {
                "weightType": "PACKED_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 608,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_sz_imx581-uw_imx888-main_0V64B-tele.lz4",
                    "loadAddr": "20e00000"
                }]
            },
            {
                "weightType": "SINGLE_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 576,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_size.lz4",
                    "loadAddr": "20d00000"
                },
                {
                    "index": 578,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_imx581-uw.lz4",
                    "loadAddr": "21000000"
                }],
                "NPUSceneTuningInfoPortraitVideoMode": [
                {
                    "comments": "if PORTRAIT binName changed ,must change explorer2BinName in SceneInstanceManager.h",
                    "index": 129,
                    "sceneMode": "PORTRAIT",
                    "binName": "explorer/npu_model/depth/depth_combine_up_left.lz4",
                    "loadAddr": "207a0000"
                },
                {
                    "comments": "if PORTRAIT binName changed ,must change explorer2BinName in SceneInstanceManager.h",
                    "index": 130,
                    "sceneMode": "PORTRAIT",
                    "binName": "explorer/npu_model/depth/depth_combine_down_right.lz4",
                    "loadAddr": "20f60000"
                }]
            }]
        }
    },
    {
        "enable": 1,
        "phyId": 0,
        "sensorId": 16,

        "bayerPattern": {
            "sensorName": "ov32c",
            "ISPTuningInfoArrays": [
            {
                "isDeaultTuningInfo": 1,
                "sensorInWidth": 3264,
                "sensorInHeight": 2448,
                "explorerOutWidth": 3264,
                "explorerOutHeight": 2448,
                "ISPSceneTuningInfo":[
                {
                    "sceneMode": "Bayer_UltarDark",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdbb800"
                },
                {
                    "sceneMode": "Bayer_SuperNight",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdc8000"
                },
                {
                    "sceneMode": "Bayer_NormalMidBv",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdd4800"
                }]
            }],
            "NPUTuningInfoArraysSecurity": [
            {
                "weightType": "PACKED_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 609,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_sz_imx709-front.lz4",
                    "loadAddr": "20e00000"
                }]
            },
            {
                "weightType": "SINGLE_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 576,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_size.lz4",
                    "loadAddr": "20d00000"
                },
                {
                    "index": 580,
                    "sceneMode": "superNight",
                    "binName": "explorer/npu_model/sec_imx709-front.lz4",
                    "loadAddr": "21000000"
                },
                {
                    "index": 581,
                    "sceneMode": "ultraDark",
                    "binName": "explorer/npu_model/sec_imx709-front.lz4",
                    "loadAddr": "21200000"
                }]
            }]
        }
    },
    {
        "enable": 1,
        "phyId": 4,
        "sensorId": 32,

        "bayerPattern": {
            "sensorName": "ov32c_sub",
            "ISPTuningInfoArrays": [
            {
                "isDeaultTuningInfo": 1,
                "sensorInWidth": 3264,
                "sensorInHeight": 2448,
                "explorerOutWidth": 3264,
                "explorerOutHeight": 2448,
                "ISPSceneTuningInfo":[
                {
                    "sceneMode": "Bayer_UltarDark",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdbb800"
                },
                {
                    "sceneMode": "Bayer_SuperNight",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdc8000"
                },
                {
                    "sceneMode": "Bayer_NormalMidBv",
                    "binName":"explorer/TunedParam/exp.ov32c_front_3264x1836_NM.bin",
                    "loadAddr": "2fdd4800"
                }]
            }],
            "NPUTuningInfoArraysSecurity": [
            {
                "weightType": "PACKED_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 609,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_imx709-front.lz4",
                    "loadAddr": "20e00000"
                }]
            },
            {
                "weightType": "SINGLE_WEIGHT",
                "NPUSceneTuningInfo": [
                {
                    "index": 576,
                    "sceneMode": "UD_SN",
                    "binName": "explorer/npu_model/sec_size.lz4",
                    "loadAddr": "20d00000"
                },
                {
                    "index": 580,
                    "sceneMode": "superNight",
                    "binName": "explorer/npu_model/sec_imx709-front.lz4",
                    "loadAddr": "21000000"
                },
                {
                    "index": 581,
                    "sceneMode": "ultraDark",
                    "binName": "explorer/npu_model/sec_imx709-front.lz4",
                    "loadAddr": "21200000"
                }]
            }]
        }
    }],
    "alscTuningConfigInfo": [
    {
        "PLATFORM": "QUALCOMM",
        "camera_id_0": "/odm/etc/camera/imx888_main_4000x3008_LSC.bin",
        "camera_id_1": "/odm/etc/camera/ov32c_front_3264x2448_LSC.bin",
        "camera_id_2": "/odm/etc/camera/imx581_wide_4000x3000_LSC.bin",
        "camera_id_3": "/odm/etc/camera/ov64b40_tele_4624x2600_LSC.bin",
        "camera_id_4": "/odm/etc/camera/ov32c_sub_front_3264x2448_LSC.bin",
        "camera_id_5": "/odm/etc/camera/imx989_main_4096x3072_LSC.bin",
        "camera_id_6": "/odm/etc/camera/imx989_main_4096x3072_LSC.bin",
        "camera_id_7": "/odm/etc/camera/imx989_main_4096x3072_LSC.bin",
        "camera_id_8": "/odm/etc/camera/imx989_main_4096x3072_LSC.bin",
        "camera_id_9": "/odm/etc/camera/imx989_main_4096x3072_LSC.bin"
    }]
}